<h1>Professional Experience</h1>
<div *ngFor="let exp of experience">
  <h2>{{ exp.company }}</h2>
  <span>{{ exp.startDate }} - {{ exp.endDate }}</span>
  <p>{{ exp.description }}</p>
  <ul>
    <li *ngFor="let resp of exp.keyResponsibilities">{{ resp }}</li>
  </ul>
  <div class="logos-container">
    <img class="tech-logo"
         *ngFor="let tech of exp.technologies"
         src="{{ tech.logo }}"
         alt="{{ tech.name }}"
         title="{{ tech.name }}">
  </div>
</div>
<div>

  <h1>Internships</h1>

  <h2>Merck Cloud Services Summer Intern</h2>
  <span>Summer 2018</span>

  <ul>
    <li>Worked on an auto-remediation script using AWS Lambda triggered automatically upon alert from 3rd party security software</li>
    <li>Incremented the functionality of the access control system used in the AWS environment</li>
    <li>Created various other tool scripts for collecting data about services running through AWS</li>
  </ul>

  <h2>Web Developer in Partnership with Merck</h2>
  <span>Summer 2016 & 2017</span>
  <ul>
    <li>Collaborated on a health IoT project for raspberry pi leveraging the capabilities of Alexa and Google Home</li>
    <li>Worked with Flask to redefine the API for a preexisting system.</li>
    <li>Leveraged Docker in order to turn a system with parts running on multiple machines into one where everything runs on the same machine.</li>
    <li>Worked with other students to improve a web application called Home Healthkit. The Home Healthkit is a system that allows doctors to store all of a patient's vitals in one place. The system leveraged the capabilities of a Raspberry Pi 3, making it very portable.</li>
    <li>Collaborated with employees of Merck on a weekly basis</li> 
    <li>Assisted in the creation of a project proposal to Merck</li>
  </ul>

  <h1>Education</h1>

  <h2>Moravian University</h2>
  <span>Fall 2015 - Spring 2019</span>

  <h3>Academic Career</h3>
  <ul>
    <li>Graduated with a 4.0 GPA</li>
    <li>Holds a BS in Computer Science</li>
    <li>Majored in Economics and Minored in Math</li>
    <li>Member of 5 honor societies</li>
    <ul>
      <li>Omicron Delta Kappa (ODK)</li>
      <li>Eta Sigma (PES)</li>
      <li>Chi Alpha Sigma (CAS)</li>
      <li>Omicron Delta Epsilon (ODE)</li>
      <li>Alpha Alpha Alpha (AAA)</li>
    </ul>
  </ul>

  <h3>Athletic Career</h3>
  <ul>
    <li>4 year starter for the Moravian football team recording 200+ tackles and 8 interceptions</li>
    <li>2 year team captain at Moravin</li>
    <li>Academic All-American 1st team (2017, 2018)</li>
    <li>Centennial Conference Scholar-Athlete of the Year (2017)</li>
  </ul>

  <h3>Campus Involvement</h3>
  <ul>
    <li>Economics, Mathematics, and Computer Science tutor (4-10 hours/week)</li>
    <li>Senior Class Gift Committee member helping organize events and encourage donations</li>
    <li>Member of Omicron Gamma Omega (OGO) for 7 semesters</li>
    <ul>
      <li>Vice President for 4 semesters</li>
      <li>Academic Chair for 2 semesters</li>
      <li>Contributed to 10% increase in organizational GPA</li>
    </ul>
  </ul>

  <h2>Parkland High School</h2>
  <span>Fall 2011 - Spring 2015</span>

  <h3>Academic Career</h3>
  <ul>
    <li>Graduated with >4.0 GPA</li>
    <li>Member of the National Honor Society</li>
    <li>Member of the National English Honor Society</li>
  </ul>
  <h3>Athletic Career</h3>
  <h4>Track & Field</h4>
  <ul>
    <li>3x varsity letter winner</li>
    <li>Voted team MVP senior season</li>
    <li>Competed regularly in 5 different events (300m hurdles, 4x400m relay 4x800m relay, 400m, 800m)</li>
  </ul>
  <h4>Football</h4>
  <ul>
    <li>2 year starter at Defensive Back</li>
    <li>Played WR and QB on offense</li>
    <li>3x varsity letter winner at Parkland</li>
    <li>3x District champion</li>
  </ul>
</div>
