<h1 class="section-header">About Me</h1>
<div class="about-me">
  <img src="assets/personal-photos/golf.jpeg" alt="golf"/>
  <div>
    <h3>On the surface you'll see a former collegiate football player, a 4.0 student and someone who gets the job done. I am willing to do whatever it takes to achieve my goals.</h3>
    <h3>Dig a little deeper and you'll find a man who loves a challenge. A man who is constantly growing and striving to be better than the day before. Patience, perseverance, and consistency are just a few of the values I live by. I am student of life, humbled through experience and eager to learn.</h3>
    <h3>I am a problem solver, life liver, and go getter. In working with me, you will find that I am driven, well organized, and extremely effective. I have learned a variety of skills from many disparate experiences.</h3>
    <h3>I love to exercise and compete. I give everything I have in everything I do. I am a passionate golfer. I enjoy hiking, skiing, lifting and running. I am a reader, painter and a student of life. We all have finite time on this Earth, so let's make the most of it. Connect with me today and see how we can pull each other forward.</h3>
  </div>
  <img src="assets/personal-photos/beach.jpeg" alt="beach"/>
</div>

<h1 class="section-header">Working With Me</h1>

<div class="pillars">
  <div class="site-pillar">
    <mat-icon fontIcon="shutter_speed"></mat-icon> 
    <h3 class="pillar-name">Efficient</h3>
    <span>Inefficiency breeds latency and no one will use a slow site</span>
  </div>
  
  <div class="site-pillar">
    <mat-icon fontIcon="mobile_friendly"></mat-icon> 
    <h3 class="pillar-name">Responsive</h3>
    <span>Reach as many users as possible with dynamic layouts fit for all devices</span>
  </div>
  
  <div class="site-pillar">
    <mat-icon fontIcon="view_module"></mat-icon> 
    <h3 class="pillar-name">Flexible</h3>
    <span>Change happens daily and my websites are always ready to adapt to your needs</span>
  </div>
  
  <div class="site-pillar">
    <mat-icon fontIcon="verified_user"></mat-icon> 
    <h3 class="pillar-name">Intuitive</h3>
    <span>User friendly to the max, no tour or explanation necessary</span>
  </div>
</div>

<h2>This site was written in Angular from scratch using advanced techniques. Change the <a href="/personal-website/style">styles</a> to make your experience unique.</h2>

<h2>Let's build something beautiful together. I relish the opportunity to work with you to help turn your vision into a reality. Nothing is more rewarding than solving a complex problem and delivering a solution you'll love.</h2>

<h1 class="section-header">Education</h1>
<div *ngFor="let edu of education" class="edu-item">
  <div class="edu-header">
    <span>{{ edu.startDate }} - {{ edu.endDate }}</span>
    
    <div class="photos">
      <div *ngIf="edu.photos.length > 0">
        <img *ngFor="let photo of edu.photos; index as i"
             src="{{ photo }}"
             alt="{{ edu.key + '-img-' + i }}" />
      </div>
    </div>

    <div class="details">
      <h1>{{ edu.name }}</h1>
      <img src="{{ edu.logo }}" alt="{{ edu.name }}" title="{{ edu.name }}" />
      <h4>{{ edu.location }}</h4>
    </div>

  </div>

  <div class="edu-details">
    <div class="edu-section">
      <h3>Academic Achievements</h3>
      <ul>
        <li *ngFor="let ach of edu.achievements">{{ ach }}</li>
      </ul>
    </div>
  
    <div class="edu-section" *ngFor="let sport of edu.athletics">
      <h3>{{ sport.name }}</h3>
      <h5>{{ sport.years }}</h5>
      <h5>{{ sport.positions }}</h5>
  
      <ul>
        <li *ngFor="let ach of sport.achievements">{{ ach }}</li>
      </ul>
    </div>
  
    <ng-container *ngIf="edu.extraCirriculars.length">
      <div class="edu-section" *ngFor="let extra of edu.extraCirriculars">
        <h3>{{ extra.description }}</h3>
        <ul>
          <li *ngFor="let detail of extra.details">{{ detail }}</li>
        </ul>
      </div>
    </ng-container>
  </div>

   
</div>
