@import '../../styles/mixins';

:host {
  @include page-content;
  padding-left: 0;
  padding-right: 0;
}

.section-header {
  background-color: var(--primary-color);
  border-top: 1px solid #fff;
  box-shadow: 0px 2px 2px var(--shadow-color);
  margin: 0;
  padding: var(--sm-spacing) 0;
  position: sticky;
  text-align: center;
  top: 50px;
  z-index: 2000;

  &:not(:first-of-type) {
    margin-top: var(--xl-spacing);
  }
}

.about-me {
  padding: var(--md-spacing) 0;

  div {
    align-items: center;
    display: flex;
    padding: var(--lg-spacing) var(--md-spacing);

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    h3 {
      font-weight: normal;
      margin: 0;
    }

    img {
      object-fit: cover;
      height: 175px;
    }

    &.inverted-background {
      background-color: var(--secondary-color);

      h3 {
        color: var(--secondary-text-color);
      }
    }

    @media screen and (max-width: 600px) {
      justify-content: center;
      flex-wrap: wrap;

      h3 {
        order: 1;
        padding-bottom: var(--sm-spacing);
        text-align: center;
      }

      img {
        order: 2;
      }
    }
  }
}

.pillars {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: var(--lg-spacing) var(--md-spacing);
  background-color: var(--secondary-color);


  .site-pillar {
    align-items: center;
    background-color: var(--app-background-color);
    border-radius: var(--default-border-radius);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: var(--sm-spacing);
    padding: var(--md-spacing);

    h2 {
      text-align: center;
    }

    h6 {
      margin: 0;
      text-align: center;
    }

    app-icon {
      font-size: var(--xl-text);
      padding: 0;
    }
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: 50% 50%;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 100%
  }
}

.supporting-details {
  padding: var(--lg-spacing) var(--md-spacing);
  text-align: center;

  h2 {
    margin: var(--md-spacing) 0;
    padding: var(--md-spacing) 0;

    &:nth-of-type(2) {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  h3 {
    font-weight: normal;
  }
}

.endorsements {
  padding: var(--lg-spacing) var(--md-spacing);
  background-color: var(--secondary-color);

  app-icon {
    cursor: pointer;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h2 {
      color: var(--secondary-text-color);
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

  .tick-marks {
    display: flex;
    justify-content: center;

    app-icon {
      opacity: 0.5;

      &.active, &:hover {
        opacity: 1;
      }
    }
  }
  
  h3 {
    color: var(--secondary-text-color);
    font-style: italic;
    margin: 0;
    padding: var(--lg-spacing);

    @media screen and (max-width: 600px) {
      padding: var(--sm-spacing);
    }
  }
  
  .details {
    h4 {
      color: var(--secondary-text-color);
      margin-bottom: 0;
      text-align: right;
    }

    h5 {
      color: var(--secondary-text-color);
      margin: 0;
      text-align: right;
    }
  }
}

.education {
  padding: var(--md-spacing);
  padding-bottom: 0;
}

.edu-item {
  @include card;
  padding-top: 0;
}

.edu-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  span {
    background-color: var(--secondary-color);
    border-top-left-radius: var(--default-border-radius);
    border-top-right-radius: var(--default-border-radius);
    color: var(--secondary-text-color);
    padding: var(--sm-spacing);
    text-align: center;
    width: 100%;
  }

  .photos {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 170px;
    padding: var(--sm-spacing) 0;
    position: relative;
    top: 0;
    width: 100%;

    @media screen and (max-width: 750px) {
      justify-content: center;
      opacity: .15;
    }

    div {
      height: inherit;

      img {
        height: inherit;
      }
    }
  }

  .details {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -170px;
    height: 170px;
    position: relative;
    top: 0;
    width: 100%;

    h1 {
      margin-bottom: var(--xs-spacing);
      margin-top: var(--md-spacing);
      text-align: center;
    }

    h2 {
      margin-bottom: var(--md-spacing);
      margin-top: var(--xs-spacing);
      text-align: center;
    }
  }
}

.edu-details {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.edu-section {
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--md-spacing);
  width: 375px;

  &:nth-of-type(odd) {
    border-right: 1px solid var(--secondary-color);

    @media screen and (max-width: 799px) {
      border-right: none;
    }
  }

  &:last-of-type {
    border: none;
  }

  @media screen and (max-width: 799px) {
    width: 100%;
  }

  h3, h5 {
    margin: 0;
    padding-bottom: var(--sm-spacing);
    text-align: center;
  }
}

img {
  @include standard-img;
}

