<div *ngFor="let exp of experience" class="exp-item">
  <div class="exp-header">
    <span>{{ exp.startDate }} - {{ exp.endDate }} {{ exp.type === 'intern' ? '(Internship)' : '' }}</span>
    <h1>{{ exp.title }}</h1>
    <h2><a href="{{ exp.link }}" target="_blank" rel="noopener">{{ exp.company }}</a></h2>
  </div>
  
  <div class="exp-details">
    <div>
      <h3>Role Overview</h3>
      <p>{{ exp.description }}</p>
    </div>
    <div>
      <h3>Key Responsibilities</h3>
      <ul>
        <li *ngFor="let resp of exp.keyResponsibilities">{{ resp }}</li>
      </ul>
    </div>
  </div>

  <h3>Technologies & Languages</h3>
  <div class="technologies">
    <ng-container *ngFor="let tech of exp.technologies">
      <app-icon class="tech-logo" [icon]="tech.icon" [tooltip]="tech.name" [inverted]="true"></app-icon>
    </ng-container>
  </div>
</div>