<a *ngFor="let exp of experience" class="exp-item" href="{{ exp.link }}" target="_blank" rel="noopener">
  <div class="exp-header">
    <span>{{ exp.startDate }} - {{ exp.endDate }} {{ exp.type === 'intern' ? '(Internship)' : '' }}</span>
    <h1>{{ exp.title }}</h1>
    <h2>{{ exp.company }}</h2>
  </div>
  
  <div class="exp-details">
    <div>
      <h3>Role Overview</h3>
      <p>{{ exp.description }}</p>
    </div>
    <div>
      <h3>Key Responsibilities</h3>
      <ul>
        <li *ngFor="let resp of exp.keyResponsibilities">{{ resp }}</li>
      </ul>
    </div>
  </div>

  <h4>Technologies & Languages</h4>
  <div class="technologies">
    <img class="tech-logo"
         *ngFor="let tech of exp.technologies"
         src="{{ tech.logo }}"
         alt="{{ tech.name }}"
         title="{{ tech.name }}">
  </div>
</a>
<app-connect></app-connect>