@import '../../styles/mixins';

:host {
  @include page-content;
}

.exp-item {
  @include card;
  padding-bottom: 0;
  padding-top: 0;
}

.exp-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  span {
    background-color: var(--secondary-color);
    border-top-left-radius: var(--default-border-radius);
    border-top-right-radius: var(--default-border-radius);
    color: var(--secondary-text-color);
    padding: var(--sm-spacing);
    text-align: center;
    width: 100%;
  }

  h1 {
    margin-bottom: var(--xs-spacing);
    margin-top: var(--md-spacing);
    text-align: center;
  }

  h2 {
    margin-bottom: var(--md-spacing);
    margin-top: var(--xs-spacing);
    text-align: center;
  }
}

.exp-details {
  display: grid;
  grid-template-columns: 50% 50%;

  div {
    padding: 0 var(--xs-spacing);
  }

  h3 {
    border-bottom: 1px dashed var(--secondary-color);
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .exp-details {
    grid-template-columns: 100%;
  }
}

h3 {
  margin-bottom: var(--xs-spacing);
}

.technologies {
  @include card-bottom;
}