<div *ngFor="let exp of experience" class="exp-item">
  <h1>{{ exp.company }}</h1>
  <h3>{{ exp.title }}</h3>
  <span>{{ exp.startDate }} - {{ exp.endDate }} {{ exp.type === 'intern' ? '(Internship)' : '' }}</span>
  <p>{{ exp.description }}</p>
  <div>
    <h3>Key Responsibilities</h3>
    <ul>
      <li *ngFor="let resp of exp.keyResponsibilities">{{ resp }}</li>
    </ul>
  </div>
  <h4>Technologies & Languages</h4>
  <div class="technologies">
    <img class="tech-logo"
         *ngFor="let tech of exp.technologies"
         src="{{ tech.logo }}"
         alt="{{ tech.name }}"
         title="{{ tech.name }}">
  </div>
</div>
<app-connect></app-connect>