.primary-btn {
  background-color: var(--primary-btn-color);
  color: var(--primary-btn-text);
  border: none;
  border-radius: var(--default-border-radius);
  padding: var(--sm-spacing) var(--md-spacing);
  font-size: var(--regular-text);
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;

  &:hover {
    opacity: 0.75;
  }
}

.nav-btn {
  background-color: transparent;
  box-sizing: border-box;
  color: var(--secondary-btn-text);
  border: none;
  font-size: var(--regular-text);
  cursor: pointer;
  text-transform: uppercase;
  height: 100%;
  padding: 0 var(--md-spacing);

  &:hover {
    background-color: var(--button-hover-bg);
  }
}