@mixin page-content {
  background-color: var(--app-background-color);
  box-sizing: border-box;
  display: block;
  min-height: calc(100vh - (2 * var(--banner-height)));
  padding: 15px;
  position: relative;
  top: 50px;
}

@mixin standard-img {
  margin: 0 8px;
  height: 30px;

  &:hover {
    opacity: 0.8;
  }
}

@mixin card {
  align-items: center;
  border-radius: var(--default-border-radius);
  box-shadow: 2px 2px 5px var(--secondary-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 800px;
  padding: 10px;
}

@mixin clickable-card {
  @include card;
  text-decoration: none;

  &:hover {
    transform: scale(1.02); 
    transition: all .2s ease-in-out; 
  }
}

@mixin card-bottom {
  background-color: var(--secondary-color);
  border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  padding: 5px 10px;
  width: 100%;
}