@mixin page-content {
  background-color: var(--app-background-color);
  box-sizing: border-box;
  display: block;
  min-height: calc(100vh - (2 * var(--banner-height)));
  padding: 15px;
  position: relative;
  top: 50px;
}

@mixin standard-img {
  margin: 0 8px;
  height: 30px;

  &:hover {
    opacity: 0.8;
  }
}

@mixin card {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 2px 5px var(--secondary-color);
  margin: 10px 0;
  box-sizing: border-box;
}