/* You can add global styles to this file, and also import other style files */
@import 'buttons';
@import 'mixins';
@import 'variables';

body {
  margin: 0;
}

h1 {
  color: var(--text-color);
  margin: 0;
}