body {
  --primary-color: #BAFAFF;
  --secondary-color: #FBA165;
  --tertiary-color: #86DAF2;
  --text-color: #333;
  --primary-btn-color: #F65C40;
  --primary-btn-text: #FFF;
  --secondary-btn-color: #FFF;
  --secondary-btn-text: #333;
  --button-hover-bg: #EEE;
  --app-background-color: #FFF;
  --shadow-color: #999;

  --banner-height: 50px;

  --font-family: 'Optima', 'sans-serif';
}

body.dark {
  --primary-color: #333;
  --secondary-color: white;
  --tertiary-color: #333;
  --text-color: white;
  --primary-btn-color: #BAFAFF;
  --primary-btn-text: black;
  --secondary-btn-color: white;
  --secondary-btn-text: #FFF;
  --button-hover-bg: #999;
  --app-background-color: #333;
  --shadow-color: #aaa;
}

body.cursive {
  --font-family: 'Bradley Hand', 'cursive';
}

body.bold {
  --font-family: 'Impact', 'sans-serif';
}

body.chalky {
  --font-family: 'Chalkduster', 'sans-serif';
}

body.marker {
  --font-family: 'Marker Felt', 'sans-serif';
}