// color schemes
body {
  --primary-color: #b3cee5;
  --secondary-color: #405580;
  --tertiary-color: #87CEEB;
  --text-color: #333;
  --secondary-text-color: white;
  --primary-btn-color: #F65C40;
  --primary-btn-text: #FFF;
  --secondary-btn-color: #FFF;
  --secondary-btn-text: #333;
  --button-hover-bg: #EEE;
  --app-background-color: #FFF;
  --shadow-color: #405580;

  --banner-height: 50px;

  --font-family: 'Optima', 'sans-serif';

  --default-border-radius: 8px;

  --xs-text: 14px;
  --sm-text: 16px;
  --md-text: 20px;
  --lg-text: 24px;
  --xl-text: 32px;

  --xs-spacing: 5px;
  --sm-spacing: 10px;
  --md-spacing: 20px;
  --lg-spacing: 40px;
  --xl-spacing: 80px;
}

body.dark {
  --primary-color: #333;
  --secondary-color: white;
  --tertiary-color: #333;
  --text-color: white;
  --secondary-text-color: #333;
  --primary-btn-color: #BAFAFF;
  --primary-btn-text: black;
  --secondary-btn-color: white;
  --secondary-btn-text: #FFF;
  --button-hover-bg: #999;
  --app-background-color: #333;
  --shadow-color: #777;
}

body.high-contrast {
  --primary-color: #BAFAFF;
  --secondary-color: #FBA165;
  --tertiary-color: #86DAF2;
  --text-color: #333;
  --secondary-text-color: white;
  --primary-btn-color: #F65C40;
  --primary-btn-text: #FFF;
  --secondary-btn-color: #FFF;
  --secondary-btn-text: #333;
  --button-hover-bg: #EEE;
  --app-background-color: #FFF;
  --shadow-color: #bbb;
}

// font families
body.cursive {
  --font-family: 'Bradley Hand', 'cursive';
}

body.bold {
  --font-family: 'Impact', 'sans-serif';
}

body.chalky {
  --font-family: 'Chalkduster', 'sans-serif';
}

body.marker {
  --font-family: 'Marker Felt', 'sans-serif';
}

// font sizes
body.xs-text {
  --xs-text: 8px;
  --sm-text: 10px;
  --md-text: 14px;
  --lg-text: 16px;
  --xl-text: 20px;
}
body.sm-text {
  --xs-text: 11px;
  --sm-text: 13px;
  --md-text: 17px;
  --lg-text: 20px;
  --xl-text: 26px;
}
body.lg-text {
  --xs-text: 17px;
  --sm-text: 19px;
  --md-text: 23px;
  --lg-text: 28px;
  --xl-text: 38px;
}
body.xl-text {
  --xs-text: 20px;
  --sm-text: 22px;
  --md-text: 26px;
  --lg-text: 32px;
  --xl-text: 44px;
}

// spacing sizes
body.small-spacing {
  --xs-spacing: 2.5px;
  --sm-spacing: 5px;
  --md-spacing: 10px;
  --lg-spacing: 20px;
  --xl-spacing: 40px;
}
body.large-spacing {
  --xs-spacing: 10px;
  --sm-spacing: 20px;
  --md-spacing: 40px;
  --lg-spacing: 80px;
  --xl-spacing: 160px;
}

// miscellaneous
body.corners {
  --default-border-radius: 0px;
}
