@import '../../styles/mixins.scss';

:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

img, svg {
  @include standard-img;
  margin: 0 4px;
}

fa-icon {
  svg {
    @include standard-img;
    margin: 0 4px;
    color: red;
  }
}