<button class="nav-btn menu-toggle" (click)="toggleMenuOptions()">
  <mat-icon fontIcon="menu"></mat-icon>
</button>

<div *ngIf="showNavOptions" class="nav-options">
  <button class="nav-btn" (click)="selectMenuOption('/about')">About</button>
  <button class="nav-btn" (click)="selectMenuOption('/portfolio')">Portfolio</button>
  <button class="nav-btn" (click)="selectMenuOption('/interests')">Interests</button>
  <button class="nav-btn" (click)="selectMenuOption('/settings')">Settings</button>
</div>