@import '../../styles/mixins';

:host {
  @include page-content;
}

h3 {
  margin-top: 30px;
}

.setting-options {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px 0;
  
  @media screen and (min-width: 750px) {
    grid-template-columns: 35% 65%;
  }

  h4 {
    color: var(--text-color);
    display: flex;
    align-items: center; 
  }

  .control {
    align-items: center;
    display: flex;
    padding: 20px 0;

    mat-select {
      border-radius: var(--default-border-radius);
      box-shadow: 1px 1px 3px var(--shadow-color);
      box-sizing: border-box;
      padding: 5px 10px;
      width: 180px;
    }
  }
}
