@import '../../styles/mixins';

:host {
  @include page-content;
}

h3 {
  margin-top: var(--lg-spacing);
}

.setting-options {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: var(--md-spacing) 0;
  
  @media screen and (min-width: 750px) {
    grid-template-columns: 35% 65%;
  }

  h4 {
    color: var(--text-color);
    display: flex;
    align-items: center; 
  }

  .control {
    align-items: center;
    display: flex;
    padding: var(--md-spacing) 0;

    mat-select {
      border-radius: var(--default-border-radius);
      box-shadow: 1px 1px 3px var(--shadow-color);
      box-sizing: border-box;
      padding: var(--xs-spacing) var(--sm-spacing);
      width: 180px;
    }
  }
}
