<h3>What better way to show off the modularity and configurability that I strive for in all my work? Change these settings however you like to make your experience on my site unique. Imagine what can be done with your vision!</h3>

<div class="setting-options">
  <h4>Color Fade</h4>
  <div class="control">
    <mat-slide-toggle
      [checked]="showColorFade"
      (change)="changeColorFade()"
    ></mat-slide-toggle>
  </div>

  <h4>Sharp Corners</h4>
  <div class="control">
    <mat-slide-toggle
      [checked]="useSharpCorners"
      (change)="changeCorners()"
    ></mat-slide-toggle>
  </div>

  <h4>Color Palette</h4>
  <div class="control">
    <mat-select [formControl]="colorSelector">
      <mat-option value="">Default</mat-option>
      <mat-option value="dark">Dark</mat-option>
      <mat-option value="high-contrast">High Contrast</mat-option>
    </mat-select>
  </div>

  <h4>Font Size</h4>
  <div class="control">
    <mat-select [formControl]="fontSizeSelector">
      <mat-option value="xs-text">Extra Small</mat-option>
      <mat-option value="small-text">Small</mat-option>
      <mat-option value="">Medium (Default)</mat-option>
      <mat-option value="large-text">Large</mat-option>
      <mat-option value="xl-text">Extra Large</mat-option>
    </mat-select>
  </div>

  <h4>Font Style</h4>
  <div class="control">
    <mat-select [formControl]="fontSelector">
      <mat-option value="">Default</mat-option>
      <mat-option value="cursive">Cursive</mat-option>
      <mat-option value="chalky">Chalk</mat-option>
      <mat-option value="bold">Bold</mat-option>
      <mat-option value="marker">Marker</mat-option>
    </mat-select>
  </div>
</div>