@import '../../../styles/mixins';

:host {
  @include card;
}

.project-header {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  h1 {
    padding: 0 20px;
  }
}

.project-logo {
  img {
    height: 50px;

    &#bound-athlete-logo {
      background-color: white;
    }
  }
}